<!doctype html>
<title>Earnings Surprise Forecast</title>
<link rel=stylesheet type=text/css >
<div class=page>
  <h1>Earnings Surprise Forecase</h1>

  <div class=metanav>

<h4>
<form id='userinput' method='post' action='forecast' > <!-- action must match your next URL -->
   <p>
   Ticker: <input type='text' name='ticker' />
   </p>
   <p>
   Today's Date: <input type='Date' name='date' />
   </p>
   <p>
   <input type='submit' value='Submit' /> <!-- value is the text that will appear on the button. -->
   </p>
</form>
</h4>

</div>
</div>
